<div class="center jumbotron bg-intro">
  <h1 class = "welcome"><%= t(".welcome") %></h1>

  <h2 class="intro"><%= t(".intro") %></h2>

  <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-lg btn-primary black" %>
</div>
