<%= render template: "static_pages/home" %>

<h3 class="text-center"><b><%= t ".title" %></b></h3>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <%= render "book_row", book: book, request_detail: @request_detail %>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
