<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="active width30"><%= t ".name" %></th>
          <th class="text-center active width40"><%= t ".parent_category" %></th>
          <th class="text-right active"><%= t ".action" %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<%= render partial: "category_row", collection: @categories, as: :category %>
