@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */
$gray: #555;
$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray-darker: #222;
$gray-white: #e8e8e8;
$white: #fff;
$green: green;
$blue: blue;
$red: red;
$blue: blue;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.row_book {
  margin: 0 0 0 0;
}

.column {
  float: left;
  width: 50%;
  padding: 10;
  height: 100%;
}

.row_book:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

.name_book {
  text-align: center;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.like {
  text-align: right;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 70px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  margin-bottom: 15px;
  width: 100%;
}

.btn-group input{
  width: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-bottom: 1px solid $gray-lighter;
    text-align: justify;
  }
}

/* Book row */
.num_of_page {
  color: green;
}

.btn-right {
  float: right !important;
}

.book_name {
  color: $green;
}

.number_book {
  color: $blue;
  text-align: center;
}

.number_book1 {
  color: $red;
  text-align: center;
}

.number_book_th {
  text-align: center;
}

.status {
  color: $green;
}

._status {
  width: 11%;
}

.num_of_book {
  color: $blue;
}

.request {
  border-bottom: 1px solid $gray-lighter;
  text-align: left;
  th {
    text-align: left;
  }
}

.inline {
  width: 48% !important;
  text-align: center !important;
}

.text-center {
  text-align: center !important;
}

.note {
  width: 4%;
}

.name_user {
  width: 10%;
}

.stock {
  color: $red;
}

.gravatar_width {
  width: "30%";
}

.name_width {
  width: "45%";
}

.search_inline {
  display: inline !important;
}

.search_input {
  width: 30% !important;
}

.btn_search {
  width: 10% !important;
}

.btn_auto {
  width: auto !important;
}

.width30 {
  width: 30% !important;
}

.width50 {
  width: 50% !important;
}

.width40 {
  width: 40% !important;
}

.width35 {
  width: 35% !important;
}

.width25 {
  width: 25% !important;
}

.width15 {
  width: 15% !important;
}

.width24 {
  width: 24% !important;
}

.width84 {
  width: 84% !important;
}

.checkbox1 {
  margin-left: -164px !important;
}

.text_note {
  width: 40% !important;
}

.welcome {
  font-family: 'Pacifico', cursive !important;
  font-family: 'Kalam', cursive !important;
}

.intro {
  font-family: 'Pacifico', cursive !important;
  font-family: 'Kalam', cursive !important;
  font-family: 'Tangerine', cursive !important;
  font-family: 'Handlee', cursive !important;
  font-size: 24px !important;
}


.bg-intro{
  background: url("https://cdn.remodelista.com/wp-content/uploads/2017/12/the-organized-home-book-jonathan-pilkington.jpg");
  background-size:cover;
  height:90vh;
  width:100%;
}

.black {
  background-color: black !important;
}


