<p><%= t(".hello", email: @resource.email) %>!</p>

<p><%= t ".account_locked" %></p>

<p><%= t ".link_unlock" %></p>

<p><%= link_to t(".unlock_account"), unlock_url(@resource, unlock_token: @token) %></p>
